.demo{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* gap: 20px; */
    align-items: center;
    background-color: #222;
    color: #fff;
}
.text-img{
    width: 100%;
    padding: 1% 0% ;
    position: relative;
    border: 1px solid rgba(255, 217, 0, 0.321);
    border-left: none;
    border-right: none;
    /* overflow: hidden; */
}
.text-img>h1{
    margin-left: 4%;
    font-size: 8rem;
    font-weight: 600;
    transition: 0.5s all ease-in;

}
.text-img:hover .img{
    
    display: block;
}
.img{
    position: relative;
    /* height: 100%;
    width: 100%; */
    display: none;
    background-color: aqua;
    /* position: absolute; */
    top: 0%;
}
.circle{
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: #fff;
    border-radius: 50%;
}

.img>img{
    height: 300px;
    width: 300px;
position: absolute;
top: 0%;
}
