.footer{
    padding: 2% 6%;
    box-sizing: border-box;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 0px 0px 15px  rgba(0, 0, 0, 0.662);
   
}
.items{
    font-size: 18px;
    /* font-weight: 400; */
    text-align: center;
    padding:2% 1%;
    font-weight: 500;
}
.items>h3{
    padding-top: 1.8%;
}
.footer>h2{
    text-align: center;
    font-size: 17px;
    color:  rgba(0, 0, 0, 0.662);
    font-weight: 400;
    /* font-weight: 500; */
}


@media (min-width:320px) and (max-width:426px){

    .items>h3{
        font-size: 17px;
    }

}